* {
  margin: 0;
}

.sign-in__form {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

input {
  border-radius: 5px;
  border: 1px solid cornflowerblue;
  outline: none;
}
